VERSION=...

# Токен бота
BOT_TOKEN=...

# База данных SQLite
DATABASE_FILE=data/server.db

# ID администратора
ADMINS_ID=..., ..., ...

# ЮЗ для техподдержки
SUPPORT_USERNAME=...

# Уровень логирования
LOG_LEVEL=INFO

# Номер карты для перевода
CARD_NUMBER=...

# Интервал проверки цен (в секундах)
PRICE_CHECK_INTERVAL=60
