# Токен бота
BOT_TOKEN=...

# База данных SQLite
DATABASE_FILE=data/server.db

# ID администратора
ADMINS_ID=..., ..., ...

# Уровень логирования
LOG_LEVEL=INFO

# Интервал проверки цен (в секундах)
PRICE_CHECK_INTERVAL=60
